GlobalRe.Service/Markel.Pricing.Service.Infrastructure.WebAPI/Service References/ERMSAuthentication/AuthenticationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CoreVelocity.Security.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoreVelocity.Security.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://d-rdc-core01.alterracap.com:50070/AuthenticationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="https://d-rdc-core01.alterracap.com:50070/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuthenticationResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AuthenticationError" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="AuthenticationTokenExpires" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnvironmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse" />
</xs:schema>