GlobalRe.Service/Markel.Pricing.Service.Infrastructure.WebAPI/Service References/ERMSAuthentication/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://d-rdc-core01.alterracap.com:50070/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoreVelocity.Core.Security" />
  <xs:import schemaLocation="https://d-rdc-core01.alterracap.com:50070/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CoreVelocity.Security.Model" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreVelocity.Core.Security" minOccurs="0" name="identityToAuthenticate" nillable="true" type="q1:EnterpriseIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoreVelocity.Core.Security" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:EnterpriseIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateWithParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="environmentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateWithParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CoreVelocity.Security.Model" minOccurs="0" name="AuthenticateWithParamsResult" nillable="true" type="q3:AuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthenticationToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CoreVelocity.Core.Security" minOccurs="0" name="identityToValidate" nillable="true" type="q4:EnterpriseIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthenticationTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateAuthenticationTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthenticationTokenWithParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="environmentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthenticationTokenWithParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateAuthenticationTokenWithParamsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="environmentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CoreVelocity.Core.Security" minOccurs="0" name="GetIdentityFromTokenResult" nillable="true" type="q5:EnterpriseIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>